* {
  margin: 0px;
  padding: 0px;
}

header li {
  display: inline;
}

.top-bar-wrapper {
  background-color: burlywood;
  text-align: end;
}

.top-bar {
  max-width: 1300px;
  margin: 0 auto;
  justify-self: flex-end;
}

.main-header-wrapper {
  background-color: aqua;
}

.main-header {
  max-width: 1300px;
  margin: 0px auto;
  display: grid;
  grid-template-areas:
    "logo row1"
    "logo row2";
  grid-template-columns: min-content auto;
}

header #header-logo {
  grid-area: logo;
  align-self: flex-end;
}

header .search-and-light {
  grid-area: row1;
  justify-self: flex-end;
}

header nav {
  grid-area: row2;
  justify-self: flex-start;
}

main {
  max-width: 1300px;
  margin: 0px auto;
}

@media only screen and (max-width: 1400px) {
  .main-header {
    max-width: 1000px;
  }
  .top-bar {
    max-width: 1000px;
  }
  main {
    max-width: 1000px;
  }
}

/*mobile*/
@media only screen and (max-width: 750px) {
  .main-header {
    max-width: 1000px;
  }
  main {
    max-width: 1000px;
  }
}

article {
  background-color: beige;
  display: grid;
  grid-template-areas:
    "article-header article-header"
    "article-main article-aside";
  grid-template-columns: min-content auto;
}

.article-header {
  grid-area: article-header;
  display: grid;
  grid-template-areas:
    "subtitle subtitle"
    "title view-all"
    "categories categories";
}

.article-header .subtitle {
  grid-area: subtitle;
}

.article-header .title {
  grid-area: title;
}

.article-header .view-all {
  grid-area: view-all;
  justify-self: flex-end;
}

.article-header .categories {
  grid-area: categories;
}

.article-header .categories li {
  display: inline;
}

.article-main {
  grid-area: article-main;
  position: relative;
}

.article-main .image {
  width: 900px;
  height: 600px;
  background-color: blanchedalmond;
}

.article-main .article-info {
  background-color: beige;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

.article-aside {
  grid-area: article-aside;
  justify-self: flex-start;
}

.three-column-article {
  grid-template-areas:
    "article-header article-header article-header"
    "article-main article-aside article-third-column";
    grid-template-columns: min-content auto auto;
}

.article-third-column {
  grid-area: article-third-column;
}

.image-temp{
  width: 150px;
  height: 150px;
  background-color: blanchedalmond;
}
