:root {
  --dark-bg: #23001b;
  --light-bg: #2c0022;
  --fg-color: #ab99a7;
  --header-hover: #57344f;
  --title-text: #6a0432;
  --title-text-hover: #87365a;
  --fg: #222222;
  --fg-hover: #4e4e4e;
  --fg-light: #676767;
  --white-fg: #f3f0f2;
  --red: #ff0e50;
}

* {
  margin: 0px;
  padding: 0px;
}

header li {
  display: inline;
}

.top-bar {
  max-width: 1300px;
  margin: 0 auto;
  text-align: end;
  justify-self: flex-end;
}

.top-bar ul li a {
  color: var(--fg);
  text-decoration: none;
}

.top-bar ul li a:hover {
  color: var(--red);
  text-decoration: none;
}

.main-header-wrapper {
  color: white;
  background-color: var(--dark-bg);
}

.main-header {
  max-width: 1300px;
  margin: 0px auto;
  display: grid;
  grid-template-areas:
    "logo row1"
    "logo row2";
  grid-template-columns: min-content auto;
}

header #header-logo {
  grid-area: logo;
  align-self: flex-end;
}

header .search-and-light {
  grid-area: row1;
  justify-self: flex-end;
}

header .search-and-light button {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

header nav {
  grid-area: row2;
  justify-self: flex-start;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
  text-decoration-color: var(--red);
}

main {
  max-width: 1300px;
  margin: 0px auto;
}

@media only screen and (max-width: 1400px) {
  .main-header {
    max-width: 1000px;
  }
  .top-bar {
    max-width: 1000px;
  }
  main {
    max-width: 1000px;
  }
}

/*mobile*/
@media only screen and (max-width: 750px) {
  .main-header {
    max-width: 1000px;
  }
  main {
    max-width: 1000px;
  }
}

article {
  background-color: white;
  display: grid;
  grid-template-areas:
    "article-header article-header"
    "article-main article-aside";
  grid-template-columns: min-content auto;
}

.article-header {
  grid-area: article-header;
  display: grid;
  grid-template-areas:
    "subtitle subtitle"
    "title view-all"
    "categories categories";
}

.article-header .subtitle {
  color: var(--fg-light);
  grid-area: subtitle;
}

.article-header .title {
  color: var(--light-bg);
  cursor: pointer;
  grid-area: title;
}

.article-header .title:hover {
  color: var(--header-hover);
}

.article-header .view-all {
  grid-area: view-all;
  justify-self: flex-end;
}

.article-header .categories {
  grid-area: categories;
}

.article-header .categories li {
  display: inline;
}

.article-header .categories li {
  cursor: pointer;
  color: var(--title-text);
}

.article-header .categories li:hover {
  color: var(--title-text-hover);
}

.article-header .view-all {
  color: var(--light-bg);
  text-decoration-color: var(--red);
}

.article-header .view-all:hover {
  color: var(--red);
}

.article-main {
  cursor: pointer;
  grid-area: article-main;
  position: relative;
}

.article-main .image {
  width: 900px;
  height: 600px;
  background-color: lightgrey;
}

.article-main .article-info {
  background-color: white;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

.article-main .article-info .author {
  color: var(--fg-light);
}

.article-main .article-info .article-title {
  color: var(--title-text);
}

.article-main .article-info .article-title:hover {
  color: var(--title-text-hover);
}

.article-main .article-info .article-subtitle {
  color: var(--fg);
}

.article-aside {
  grid-area: article-aside;
  justify-self: flex-start;
}

.article-aside-article .article-author {
  color: var(--fg-hover);
}

.article-aside-article .article-author {
  color: var(--fg);
}

.three-column-article {
  grid-template-areas:
    "article-header article-header article-header"
    "article-main article-aside article-third-column";
  grid-template-columns: min-content auto auto;
}

.article-third-column {
  grid-area: article-third-column;
}

.article-third-column .article-author {
  color: var(--fg-hover);
}

.article-third-column .article-title {
  color: var(--fg);
}

.image-temp {
  width: 150px;
  height: 150px;
  background-color: lightgray;
}

footer {
  color: var(--white-fg);
  background-color: var(--light-bg);
}

footer ul {
  list-style-type: none;
}

.footer-legal-wrapper {
  background-color: var(--dark-bg);
}

.footer-main,
.footer-legal {
  max-width: 1300px;
  margin: 0px auto;
}

.footer-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.slate-group-logo {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}

.footer-legal {
  display: flex;
  justify-content: space-between;
}
