@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");

:root {
  --dark-bg: #23001b;
  --light-bg: #2c0022;
  --fg-color: #ab99a7;
  --header-hover: #57344f;
  --title-text: #6a0432;
  --title-text-hover: #87365a;
  --fg: #222222;
  --fg-hover: #4e4e4e;
  --fg-light: #676767;
  --white-fg: #f3f0f2;
  --red: #ff0e50;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Arial, Helvetica, serif;
}

header {
  margin-bottom: 30px;
}

header li {
  display: inline;
}

.top-bar {
  height: 40px;
  max-width: 1300px;
  margin: 0 auto;
  text-align: end;
  display: flex;
  align-items: center;
  justify-content: end;
}

.top-bar ul li a {
  color: var(--fg);
  text-decoration: none;
  padding-left: 15px;
  font-size: 14px;
}

.top-bar ul li i {
  color: var(--red);
}

.top-bar ul li a:hover {
  color: var(--red);
  text-decoration: none;
}

.main-header-wrapper {
  height: 100px;
  color: white;
  background-color: var(--dark-bg);
}

.main-header {
  max-width: 1300px;
  margin: 0px auto;
  height: 100%;
  display: grid;
  grid-template-areas:
    "logo row1"
    "logo row2"
    "logo row2";
  grid-template-columns: min-content auto;
}

header #header-logo {
  width: 258px; /*change this*/
  height: 78px;
  grid-area: logo;
  align-self: flex-end;
}

#header-logo img {
  width: 100%;
}

#header-logo logo {
  width: 258px;
  height: 78px;
  background-color: white;
}

header .search-and-light {
  grid-area: row1;
  justify-self: flex-end;
  padding-top: 5px;
}

header .search-and-light li {
  padding-left: 15px;
}

header .search-and-light button {
  font-size: 14.6px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

header nav {
  grid-area: row2;
  justify-self: flex-start;
  align-self: center;
}

header nav ul li a {
  display: inline-block;
  position: relative;
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin-left: 30px;
}

header nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: var(--red);
}

header nav ul li a:hover::after {
  transform: scaleX(1);
}

main {
  max-width: 1300px;
  margin: 0px auto;
}

@media only screen and (max-width: 1400px) {
  .main-header {
    max-width: 1000px;
  }
  .top-bar {
    max-width: 1000px;
  }
  main {
    max-width: 1000px;
  }
}

/*mobile*/
@media only screen and (max-width: 750px) {
  .main-header {
    max-width: 1000px;
  }
  main {
    max-width: 1000px;
  }
}

article {
  background-color: white;
  display: grid;
  grid-template-areas:
    "article-header article-header"
    "article-main article-aside";
  grid-template-columns: min-content auto;
  margin-bottom: 40px;
  column-gap: 20px;
}

.article-header {
  grid-area: article-header;
  display: grid;
  grid-template-areas:
    "subtitle subtitle"
    "title view-all"
    "categories categories";
  grid-template-rows: min-content;
  grid-template-columns: 70% auto;
}

.article-header .subtitle {
  font-size: 14.6px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.07em;
  color: var(--fg-light);
  grid-area: subtitle;
  margin-bottom: -5px;
}

.article-header .title {
  font-size: 80px;
  text-transform: uppercase;
  color: var(--light-bg);
  cursor: pointer;
  grid-area: title;
  margin-bottom: 5px;
}

.article-header .title:hover {
  color: var(--header-hover);
}

.article-header .view-all {
  color: var(--light-bg);
  font-size: 13.5px;
  font-weight: 700;
  letter-spacing: 0.09em;
  grid-area: view-all;
  justify-self: flex-end;
  align-self: center;
  text-decoration: none;
  position: relative;
}

.article-header .view-all::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -3px;
  left: 0;
  background-color: var(--red);
}

.article-header .view-all:hover {
  color: var(--red);
}

.article-header .categories {
  grid-area: categories;
  margin-bottom: 25px;
}

.article-header .categories li {
  display: inline;
}

.article-header .categories li {
  font-size: 15.6px;
  font-weight: 600;
  cursor: pointer;
  color: var(--title-text-hover);
  padding-right: 25px;
}

.article-header .categories li:hover {
  opacity: 80%;
}

.article-main {
  cursor: pointer;
  grid-area: article-main;
  position: relative;
}

.article-main .image {
  width: 922px;
  height: 612px;
  background-color: lightgrey;
}

.article-main .article-info {
  width: 75%;
  background-color: white;
  padding: 15px 25px 0 0;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

.article-main .article-info .author {
  font-size: 14px;
  letter-spacing: 0.9px;
  color: var(--fg-hover);
}

.article-main .article-info .article-title {
  font-size: 39px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  color: var(--title-text);
}

.article-main .article-info .article-title:hover {
  color: var(--title-text-hover);
}

.article-main .article-info .article-subtitle {
  font-size: 17.8px;
  color: var(--fg);
}

.article-aside {
  /* margin-left: 20px; */
  grid-area: article-aside;
  justify-self: flex-start;
}

.article-aside-article .article-author {
  font-size: 13.7px;
  color: var(--fg-hover);
}

.article-aside-article .article-title {
  font-size: 15.6;
  font-weight: 700;
  margin-bottom: 15px;
  color: var(--fg);
}

.three-column-article {
  grid-template-areas:
    "article-header article-header article-header"
    "article-main article-aside article-third-column";
  grid-template-columns: 42% auto 27%;
  column-gap: 20px;
}

.three-column-article .image {
  width: 100%;
  height: 365px; /*remove this*/
}

.three-column-article .article-main .article-info .article-title {
  font-size: 21px;
}

.article-third-column {
  grid-area: article-third-column;
}

.image-temp {
  width: 100%;
  height: 238px;
  background-color: lightgray;
  margin-bottom: 12px;
}

.article-third-column .article-author {
  font-size: 13.7px;
  color: var(--fg-hover);
  margin-bottom: 1.5px;
}

.article-third-column .article-title {
  font-size: 20.2px;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--fg);
}

footer {
  font-size: 14.6px;
  color: var(--white-fg);
  background-color: var(--light-bg);
}

footer h3 {
  font-weight: 700;
}

footer ul {
  list-style-type: none;
}

.footer-legal-wrapper {
  padding: 21px;
  font-size: 14px;
  background-color: var(--dark-bg);
}

.footer-main,
.footer-legal {
  max-width: 1300px;
  width: 100%;
  margin: 0px auto;
}

.footer-main {
  width: 100%;
  display: grid;
  padding: 40px;
  grid-template-areas:
    "about sub advertising slate-group"
    "about sub advertising slate-group";
  grid-template-columns: 16% 16% auto 41%;
  grid-template-rows: min-content auto;
}

.footer-main .about {
  grid-area: about;
}

.footer-main .subscribtions {
  grid-area: sub;
}

.footer-main .advertising {
  grid-area: advertising;
}

.footer-main .slate-group {
  display: flex;
  flex-direction: column;
  grid-area: slate-group;
}

.footer-main .follow-us ul li {
  display: inline;
  padding-right: 20px;
}

.footer-main li {
  margin-top: 15px;
}

.slate-group-logo {
  width: 245px;
  height: 35px;
  margin-bottom: 20px;
}

.slate-group-logo img {
  width: 100%;
}

.slate-group p {
  margin-bottom: 40px;
}

.slate-group .follow-us h3 {
  margin-bottom: 15px;
}

.slate-group .follow-us i {
  margin-right: 5px;
  position: relative;
}

.footer-legal {
  display: flex;
  justify-content: space-between;
}

.footer-legal ul {
  display: flex;
}

.footer-legal ul li {
  padding-right: 25px;
}
